.Cart {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.Cart-total-price {
    display: flex;
    justify-content: end;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 100px 0 0;
}

.Cart-total-title {
    text-align: right;
    padding-right: 1em;
}

.Cart-total-sum {
    text-align: right;
}

.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Cart-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}


.Cartlist-item {
  border-bottom: 1px dashed #ccc;
}